#about-me {
  &-description {
    margin-left: 7rem;
    margin-right: 7rem;
    margin-bottom: 3rem;
    color: red;
  }

  &-contacts {
    display: flex;
    align-items: center;
    justify-content: center;

    > a {
      padding: 0.625rem;
      font-size: 1rem;
      color: var(--about-me-contact-me-text);
      border: 1px solid var(--about-me-contact-me-border);
      border-radius: 5px;
      text-decoration: none;

      &:hover {
        background-color: var(--about-me-contact-me-hover-background);
        color: var(--about-me-contact-me-hover-text);
        transition: background-color 300ms, color 100ms;
      }
    }
  }
}
